body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rebeccapurple;
}

a {
  align-self: end;
}
